*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

.body{
    margin-left: 150px;
    margin-right: 150px;
    background: linear-gradient(0deg, rgba(39,235,13,1) 0%, rgba(238,33,10,1) 35%, rgba(10,52,235,1) 100%);
    overflow-x:hidden;
}

header{
    height: 70px;
    background: white;
    padding: 0 20px;
    color: rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    width: 129%;
    position: relative;
    left: -150px;

}

main{
    width: auto;
    height: auto;
}

.menu{
    padding-right: 40px;
}

.header a{
    text-decoration: none;
    padding: 5px 10px;

}

.hamb{
    display: block;
    background-color: #000;
    color: white;
    padding-top: 80px;
}

.header a:hover{
    transform: scale(1.1);
    font-size: 17px;
}

.logo{
    height: 50px;
    padding: 10px;
}

.banner{
    background-image: url(imagenes/grupo-personas.jpg);
    width: 129%;
    height: 520px;
    background-size: cover;
    background-position: center;
    position: relative;
    left: -150px;
    backdrop-filter: blur(10px) !important;
}

.contenidobanner{
    padding-top: 110px;
    padding-left: 160px;
}

.contenidobanner h1{
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.sobremi{
    background: white;
    display: flex;
    padding: 50px;
}

.sobremi div{
    justify-content: space-between;
    padding: 40px;
}

.portafolio2 div{
    justify-content: space-between;
    padding: 40px;

}

.articulo h2{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 40px;
}

.articulo p{
    padding-bottom: 40px;
}

.articulo2 h2{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 40px;
}

.articulo2 p{
    padding-bottom: 40px;
    color: white;
}

.articulo button{
    background: rgb(228, 228, 228);
    border: 0;
    padding: 20px 40px;
}

.articulo a{
    text-decoration: none;
}

.articulo button:hover{
    transform: scale(1.1);

}

.imagen1 img{
    width: 300px;
}

.portafolio{
    background: rgb(19, 19, 19);
    padding: 20px;
    padding-bottom: 135px;
}

.portafolio2{
    display: flex;
    padding: 50px;
}
.portafolio h2{
    text-align: center;
    color: white;
    padding: 0px;
}

.portafolio2 h2{
    text-align: center;
    color: white;
    padding: 80px;
}

.tarjetas{
    display: flex;
}
#div:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px #ffffff;
}
#div{
    background-color: rgba(230, 230, 230, 0.993);
    width: 250px;
    margin: auto;
}
.imagen {
    margin: auto;
    display: block;
    width: 100%;
}
.nombre {
    color: rgb(0, 0, 0);
    text-align: center;
}
.descripcion {
    text-align: justify;
   padding: 30px;
}

.formulario{
    display:inline-block;
    width:50%;
    background: gray;
    padding: 30px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}

#contacto .titulo{
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 40px;
}

.formulario h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.campo{
    width: 100%;
    background: rgb(218, 218, 218);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-size: 18px;
    color: black;
}

.boton{
    width: 100%;
    background: rgb(184, 184, 184);
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
}

.boton:hover{
    transform: scale(1.1);
}

.buttons{
    height: 100px;
    background: #000;
    display: flex;
    justify-content: space-evenly;
}

.buttons a{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
    color: black;
    background: white;
    border-radius: 50%;
}

.buttons a:hover{
    transform: scale(1.2);
}

.whatsapp-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 30px;
    background-color: #3dd64f;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,.1);
    height: 50px;
    padding: 5px;
    width: 50px;
    z-index: 10
}

.whatsapp-boton i {
    color: #fff;
    font-size: 40px
}

#contacto {
    background-color: #fff;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

iframe{
    margin-top: -10%;
}