#div{
    padding: 30px;
    background-color: rgba(214, 213, 213, 0.993);
    width: 250px;
    margin: auto;
    box-shadow: 0px 0px 30px 10px rgba(214,7,214,0.5);
}
.imagen {
    margin: auto;
    display: block;
    border-radius: 50%;
    width: 160px;
}
.nombre {
    color: rgb(115, 7, 119);
    text-align: center;
}
.descripcion {
    text-align: justify;
   padding: 30px;
   margin: 0px;
}